<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title><%= title %></title>
    <link href="stylesheets/reset.css" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@2.3.4"></script>
    
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">

    <!------ Include the above in your HEAD tag ---------->
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  </head>

  <body>
    <% include components/navbar %>

    <div class="container-fluid">
      
      <h1 class="hidden">All Books</h1>

      <div class="main col-sm-12">
          
    <ul id="books-grid">

      <% for(var i = 0; i < books.length; i++) { %>

          <li class="book-card">

            <a href="/book/<%= books[i]._id %>">
            <img src="<%= books[i].image %>" alt="book cover image">
            <h4> <%= books[i].title  %></h4></a>
            <p>Author: <%= books[i].author  %></p>  
            <p>ISBN: <%= books[i].isbn  %></p> 
            <p>Rating: <%= books[i].rating  %></p> 

            <div>
            <form action="/book/<%= books[i]._id %>/favorite" method="POST">
              <input type="checkbox" name="favorite" id="favourite" class="fav-checkbox" onChange="submit()"/>
              <label for="favourite" class="fav-label"></label>
            </form>
            </div>
          </li>

        <% } %>
    </ul>


    </div>
  </div>
      
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="main.js"></script>	
  </body>
</html>