<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title><%= title %></title>
    <link href="stylesheets/reset.css" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@2.3.4"></script>
    
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
    <!------ Include the above in your HEAD tag ---------->
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  </head>
  
  <body>
    <div class="container-fluid">

    <% include components/navbar %>
    
    <div id="book-item">
        <div id="card">

        <div id="left-card">
            <img id="poster" src="<%= book.image %>">
        </div>

        <div id="right-card">
            <h4><%= book.title  %></h4>
            <p>Author: <%= book.author %></p>
            <p>Genre: <%= book.genre  %></p>
            <p>Review: <%= book.review  %></p>
            <p>Rating: <%= book.rating %></p>
        </div>
      </div>


            <a href="/api/books"><button type="submit" class="btn">Back</button></a>

            <p>Sessions history:</p>
            <a href="/session/book/<%= book._id %>"><button type="submit" class="btn">View Sessions</button></a>

        </div>
                                
    </div>
</section>
</body>
</html>