<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/reset.css' />
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h1><%= book.title %></h1>
    <form action="/book/<%= book._id %>/update" method="POST">
      <label for="review">review</label>
      <input type="text" name="review" id="review" value="<%= book.review %>">
      <br>
      <label for="rating">rating</label>
      <input type="number" name="rating" id="rating" value="<%= book.rating %>">
      <br>
      <label for="barcode">barcode</label>
      <input type="text" name="barcode" id="barcode" value="<%= book.barcode %>">
      <br>
      <label for="isbn">isbn</label>
      <input type="text" name="isbn" id="isbn" value="<%= book.isbn %>">
      <br>
      <label for="favorite">favorite?</label>
      <input type="checkbox" name="favorite" id="favorite" <%= book.favorite ? "checked" : "" %>>
      <br>
      <input type="submit" value="update">
  </form>
  <h2>Edit Review</h2>
  <form action="/book/<%= book._id %>/review" method="POST">
    <label for="review">review</label>
    <input type="text" name="review" value="<%= book.review %>">
    <input type="submit" value="update">
  </form>
  <h2>Edit Favorite</h2>
  <form action="/book/<%= book._id %>/favorite" method="POST">
    <label for="favorite">favorite?</label>
    <input type="checkbox" name="favorite"  <%= book.favorite ? "checked" : "" %>>
    <input type="submit" value="update">
  </form>
  </body>
</html>